* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#marqueeSlider .marquee__part {
  flex-shrink: 0;
  padding: 0 4px;
  font-smooth: always;
  margin: 0 50px;
}

#marqueeSlider .marquee {
  color: #000;
  font-weight: 600;
  font-size: 40px;
  font-family: PPCharlevoix-Regular;
  line-height: 72px;
  letter-spacing: 0.6px;
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}

#marqueeSlider .marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
}

#marqueeSlider .spacer {
  height: 150px;
}
